<div class="row">
  <% flash.each do |key, value| %>
    <div class="alert alert-<%= key %> alert-dismissible" role="alert">
      <p class="text-<%= key %>"><%= value %></p>
    </div>
  <% end %>
</div>
<div class="row">
  <div class="col-md-6">
    <h1>Pending Issues</h1>
    <%= render "issues_table", issue_type: pending_issues %>
  </div>
  <div class="col-md-6">
    <h1>Resolved Issues</h1>
    <%= render "issues_table", issue_type: resolved_issues %>
  </div>
</div>
<div><%= new_text_link(new_issue_path) if !current_user.admin %></div>
