<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %> alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= value %>
  </div>
<% end %>
<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>
<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<p>
  <strong>Status:</strong>
  <%= check_status(@user.status) %>
</p>
<p>
  <strong>User Type:</strong>
  <%= check_user(@user.admin) %>
</p>
<p>
  <strong>My Items:</strong>
  <% @user.items.each do |item|%>
    <ol>
      <li> <%= item.name %></li>
    </ol>
  <% end %>
</p>
<%= edit_text_link(edit_user_path(@user)) %>
<%= back_text_link(users_path) %>
