<p id="notice"><%= notice %></p>

<p>
  <strong>Item:</strong>
  <%= @storage.item_id %>
</p>

<p>
  <strong>Qty:</strong>
  <%= @storage.qty %>
</p>

<p>
  <strong>Procure time:</strong>
  <%= @storage.procure_time %>
</p>

<p>
  <strong>Buffer:</strong>
  <%= @storage.buffer %>
</p>

<%= link_to 'Edit', edit_storage_path(@storage) %> |
<%= link_to 'Back', storages_path %>
