<p id="notice"><%= notice %></p>

<h1>Items</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Brand</th>
      <th scope="col">Category</th>
      <th scope="col">User</th>
      <th scope="col">Status</th>
      <th scope="col">Notes</th>
      <th scope="col">Show</th>
      <th scope="col">Edit</th>
      <th scope="col">Delete</th>
    </tr>
  </thead>

  <tbody>
    <% @items.each do |item| %>
    <tr>
      <td><%= item.id %></td>
      <td><%= item.name %></td>
      <td><%= item.brand.name %></td>
      <td><%= item.category_id %></td>
      <td><%= item.user_id %></td>
      <td><%= item.status %></td>
      <td><%= item.notes %></td>
      <td><%= link_to fa_icon("eye"), item, class: "btn btn-primary" %></td>
      <td><%= link_to fa_icon("pencil"), edit_item_path(item), class: "btn btn-info" %></td>
      <td><%=button_to(item, method: :delete, class: "btn btn-danger") do %>
        <i class="fa fa-trash" aria-hidden="true"></i>
      </td>
      <% end %>
    </tr>



    <% end %>
  </tbody>
</table>

<br>

<%= link_to "New Item", new_item_path %>