<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %> alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= value %>
   </div>
<% end %>
<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>
<p>
  <strong>Brand:</strong>
  <%= @item.brand_id %>
</p>
<p>
  <strong>Category:</strong>
  <%= @item.category_id %>
</p>
<p>
  <strong>Status:</strong>
  <%= @item.status %>
</p>
<p>
  <strong>Associated Users:</strong>
  <ul><% @item.users.each do |user| %>
      <li>
        <div class="user"><%= user.name %>
          <%= link_to fa_icon("times"), remove_user_item_path(@item, user: user), method: :patch, class: "btn", data: { confirm: 'Remove User?' } %>
        </div>
      </li>
    <% end %></ul>
</p>
<p>
  <strong>Notes:</strong>
  <%= @item.notes %>
</p>
<p>
  <strong>Document:</strong>
  <%= link_to file_name(@item.doc_url), @item.doc_url, target: :_blank %>
</p>
<%= link_to 'Edit', edit_item_path(@item) %> |
<%= link_to 'Back', items_path %>
