<% flash.each do |key, value| %>
  <div class="alert alert-<%= key %> alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= value %>
  </div>
<% end %>
<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>
<p>
  <strong>Brand:</strong>
  <%= @item.brand.name %>
</p>
<p>
  <strong>Category:</strong>
  <%= @item.category.name %>
</p>
<p>
  <strong>Status:</strong>
  <%= item_status(@item.status) %>
</p>
<p>
  <strong>Associated Users:</strong>
  <p><%= format_user(@item.user) %></p>
</p>
<p>
  <strong>Notes:</strong>
  <%= @item.notes %>
</p>
<p>
  <strong>Document:</strong>
  <%= link_to file_name(@item.doc_url), @item.doc_url, target: :_blank %>
</p>
<%= edit_text_link(edit_item_path(@item)) %>
<%= back_text_link %>
