<%= form_with(model: category, local: true) do |form| %>
  <div class="card-body">
    <% if category.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>
        <ul>
          <% category.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="form-group">
      <%= form.label :name, "Item Name", class: "font-weight-bold" %>
      <%= form.text_field :name, required: true, class: "form-control", placeholder: "Enter Category Name" %>
    </div>
    <div class="form-group">
      <%= form.label :min_qty, "Minimum Quantity", class: "font-weight-bold" %>
      <%= form.number_field :min_qty, required: true, class: "form-control", placeholder: "Enter Minimum Quantity" %>
    </div>
    <div class="form-group">
      <%= form.label :buffer, "Buffer Quantity", class: "font-weight-bold" %>
      <%= form.number_field :buffer, required: true, class: "form-control", placeholder: "Enter Buffer Quantity" %>
    </div>
  </div>
  <div class="card-footer">
    <div class="actions">
      <%= form.submit nil, class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
