<p id="notice"><%= notice %></p>
<h1>Categories</h1>
<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <% if current_user.admin %>
        <th scope="col">Min Qty</th>
        <th scope="col">Buffer</th>
        <th scope="col">Show</th>
        <th scope="col">Edit</th>
        <th scope="col">Delete</th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <th scope="row"><%= category.id %></th>
        <td><%= category.name %></td>
        <% if current_user.admin %>
          <td><%= category.min_qty %></td>
          <td><%= category.buffer %></td>
          <td><%= show_icon_link(category)  %></td>
          <td><%= edit_icon_link(edit_category_path(category)) %></td>
          <td><%= delete_icon_link(category) %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
<%= new_text_link(new_category_path)  if current_user.admin %>
