
<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>
<p>
  <strong>Min Quantity:</strong>
  <%= @category.min_qty %>
</p>
<p>
  <strong>Buffer:</strong>
  <%= @category.buffer %>
</p>

<%= edit_text_link(edit_category_path(@category)) %>
<%= back_text_link %>
