<div class="sidebar">
  <%= link_to "Home", root_path, class: "side-1" %>
  <%= 
    if current_user.admin 
     link_to "Users", users_path, class: "side-2" 
     else
      link_to "My Profile", current_user, class: "side-2" 
   end %>
  <%= link_to "Brands", brands_path, class: "side-3"  %>
  <%= link_to "Categories", categories_path, class: "side-4" %>
  <%= link_to "Items", items_path, class: "side-5" %>
  <% if current_user.admin %>
    <%= link_to "Storage", storage_categories_path, class: "side-6" %>
  <% end %>
  <%= link_to notifications_path, class: "side-7 row" do %>
    <div class="col-6">
      Notifications
    </div>
    <div class="col-6">
      <%= notification_count %>
    </div>
  <% end %>
  <%= link_to "Issues", issues_path, class: "side-8" %>
  <%= link_to "LogOut", logout_path, data: { confirm: "Are you sure to logout?" }  %>
</div>
