<%= stylesheet_link_tag "sidebar", media: "all" %>

<div class="sidebar">
  <%= link_to 'Home', root_path %>
  <%= link_to 'Brand', brands_path  %>
  <%= link_to 'Categories', categories_path %>
  <%= link_to 'Items', items_path %>
  <%= link_to 'Storage', items_path %>
  <%= link_to 'Notification', items_path %>
  <%= link_to 'LogOut', items_path %>



</div>