<!DOCTYPE html>
<html>
  <head>
    <title>Inventory</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_pack_tag "application", media: "all", "data-turbolinks-track": "reload" %>
    <%= javascript_pack_tag "application", "data-turbolinks-track": "reload" %>
  </head>
  <body>
    <% flash.each do |key, value| %>
      <div class="alert alert-<%= key %> alert-dismissible" role="alert">
        <p class="text-<%= key %>"><%= value %></p>
      </div>
    <% end %>
    <header>
      <%= render "layouts/header" %>
    </header>
    <main>
      <% if current_user.present? %>
        <%= render "layouts/sidebar_menu" %>
      <% end %>
      <div class="content">
        <%= yield %>
      </div>
    </main>
    <%= render "layouts/footer" %>
  </body>
</html>
